<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <display-name>Student Management System</display-name>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.example.servlet.AddStudentServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ListStudentsServlet</servlet-name>
        <servlet-class>com.example.servlet.ListStudentsServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>com.example.servlet.DeleteStudentServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/add-student</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ListStudentsServlet</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/delete-student</url-pattern>
    </servlet-mapping>
</web-app>
